In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
#uploading data
dt = pd.read_csv("./prostate.csv")

In [4]:
#Visualization part
dt.head(10)

     lcavol   lweight  age      lbph  svi       lcp  gleason  pgg45      lpsa
0 -0.579818  2.769459   50 -1.386294    0 -1.386294        6      0 -0.430783
1 -0.994252  3.319626   58 -1.386294    0 -1.386294        6      0 -0.162519
2 -0.510826  2.691243   74 -1.386294    0 -1.386294        7     20 -0.162519
3 -1.203973  3.282789   58 -1.386294    0 -1.386294        6      0 -0.162519
4  0.751416  3.432373   62 -1.386294    0 -1.386294        6      0  0.371564
5 -1.049822  3.228826   50 -1.386294    0 -1.386294        6      0  0.765468
6  0.737164  3.473518   64  0.615186    0 -1.386294        6      0  0.765468
7  0.693147  3.539509   58  1.536867    0 -1.386294        6      0  0.854415
8 -0.776529  3.539509   47 -1.386294    0 -1.386294        6      0  1.047319
9  0.223144  3.244544   63 -1.386294    0 -1.386294        6      0  1.047319

In [5]:
len(dt)

97

In [6]:
dt.shape

(97, 9)

In [11]:
dt.drop('Id',axis = 1,inplace = True)

In [12]:
dt

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]